.dropbtn {
    font-size: 16px;
    border: none;
    color: black;
    outline: none;
    padding: 14px 0px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown:hover .dropbtn {
    color: #a388d3;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    .dropdown-content a {
        float: none;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }

        .dropdown-content a:hover {
            background-color: #f1f1f1;
            color: #a388d3;
        }

.dropdown:hover .dropdown-content {
    display: block;
    color: #a388d3;
}

.footer {
    border-top: solid 2px #a388d3;
}

    .footer p {
        text-align: center;
        color: black;
        font-size: 15px;
        letter-spacing: 1px;
    }

        .footer p a {
            color: black;
        }

            .footer p a:hover {
                #a388d3
            }
